Versuch_2/LaTeX/Inhalt/02Vorbereitung.aux
Versuch_2/LaTeX/Inhalt/03Messung.aux
Versuch_2/LaTeX/Inhalt/04Auswertung.aux
Versuch_2/LaTeX/main.aux
Versuch_2/LaTeX/main.fdb_latexmk
Versuch_2/LaTeX/main.fls
Versuch_2/LaTeX/main.lof
Versuch_2/LaTeX/main.log
Versuch_2/LaTeX/main.lot
Versuch_2/LaTeX/main.out
Versuch_2/LaTeX/main.synctex.gz
Versuch_2/LaTeX/main.toc
Versuch_2/LaTeX/main.pdf
Versuch_2/LaTeX/img/Titelpage.svg
Versuch_2/LaTeX/img/Titelpage.xcf
